* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MicrosoftYaHei, '微软雅黑', Tahoma, Helvetica, Arial,
    '\5b8b\4f53', sans-serif;
}

$wh: white;
a.navred {
  color: red !important;
}

body {
  position: relative;
  main {
    section.background {
      background-image: url('./images/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg');
      background-position: center;
      min-height: 100vh;
      min-width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      button {
        border: white;
        margin: 4rem;
        border: 2px solid $wh;
        font-size: 1.7rem;
        width: 13rem;
        height: 4rem;
        letter-spacing: 0.3rem;
        a {
          text-decoration: none;
          color: white;
        }

        &:hover {
          a {
            color: black;
          }
        }
      }

      h1 {
        color: $wh;
        margin: 4rem;
        letter-spacing: 0.5rem;
        text-align: center;
      }
    }

    header {
      nav {
        background-color: black;
        height: 4rem;
        div {
          ul {
            li {
              margin-left: 0.5rem;
              color: black;
            }
            a {
              margin-left: 1rem;
              &:hover {
                color: rgb(238, 5, 5) !important;
              }
            }
          }
        }
      }
    }

    section.about {
      display: flex;
      min-height: 100vh;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: black;

      img {
        width: 18rem;
        height: 18rem;
        border-radius: 50%;
        margin: 0.3rem 3rem;
      }
      h2 {
        margin: 2rem;
        font-size: 3rem;
        color: $wh;
        text-align: center;
      }
      h3 {
        color: $wh;
        text-align: center;
        margin: 2rem;
      }
      p {
        width: 80vw;
        color: $wh;
        font-size: 1.3rem;
        margin-bottom: 3rem;
        letter-spacing: 3px;
        line-height: 30px;
      }
    }

    section.portfolio {
      display: flex;
      flex-direction: column;
      min-width: 90vw;
      min-height: 100vh;
      background-color: rgb(160, 160, 160);
      align-items: center;

      h2 {
        font-size: 8rem;
        font-family: 'Dancing Script', cursive;
      }
      div.skillsCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div.skills {
          font-size: 1.3rem;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin: 2rem 1rem;
          h4 {
            text-align: center;
            font-size: 2rem;
            margin: 1.3rem 0rem;
          }
        }
      }

      div.imageSkills {
        img {
          width: 8rem;
          height: 8rem;
          margin: 3rem 1.5rem;
        }
      }
    }
    section.projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 110vh;
      background-color: rgb(175, 173, 173);
      h2 {
        font-size: 8rem;
        font-family: 'Dancing Script', cursive;
      }

      div.myprojects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div.card {
          display: flex;
          margin: 3rem;

          a.btn {
            display: flex;
            margin: 1px;
            align-items: center;
            justify-content: center;
            letter-spacing: 1.5px;

            &:hover {
              background-color: rgb(25, 152, 163);
            }
          }
        }
      }
    }

    section.contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      background-color: black;
      flex-wrap: wrap;

      div.contactSheet {
        display: flex;
        margin: 3rem;
        min-height: 90vh;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        div.form {
          width: 40rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          div.input-group {
            padding: 2rem 3rem;
            span {
              background-color: black;
              color: white;
              border-radius: 10%;
              font-size: 1.3rem;
              letter-spacing: 0.1rem;
            }
            input {
              border-radius: 10%;
            }
            textarea {
              border-radius: 10%;
            }
          }
          button {
            width: 7rem;
            height: 3rem;
            font-size: 1.3rem;
            letter-spacing: 0.1rem;
            border-radius: 20%;
          }
        }

        div.v1 {
          border-left: 3px solid $wh;
          height: 500px;
        }
        div.words {
          width: 40rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;

          h4 {
            font-size: 6rem;
            padding: 1.5rem;
            font-family: 'Dancing Script', cursive;
            color: $wh;
            text-align: center;
          }
          p {
            font-size: 1.2rem;
            margin: 5rem 2rem;
            color: $wh;
            text-align: center;
          }

          button {
            font-size: 2.5rem;
            padding: 0.1px 10px;
            border-radius: 20%;
            a {
              text-decoration: none;
              color: $wh;
              &:hover {
                color: black;
              }
            }
          }
        }
      }

      footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a {
          text-decoration: none;
          img {
            width: 5rem;
            transition: all 0.5s ease;
            margin: 1rem 2rem;

            &:hover {
              width: 7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 802px) {
  section.contact {
    div.contactSheet {
      div.v1 {
        display: none;
      }
      div.words {
        h4 {
          margin-top: 2rem;
        }
        p {
          font-size: 28px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  section.contact {
    div.contactSheet {
      div.words {
        button {
          font-size: 4rem !important;
          a {
            padding: 0rem 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  section.contact {
    div.contactSheet {
      width: 80%;
    }
  }
}
